body{ 
    margin: 0%;
    padding: 0%;
    height: 100vh;
    font-family: sans-serif;
}
body img{
    height: 95vh;
    width: 100%;
}
.container{
    display: grid;
    grid-template-areas: "a a";
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( to bottom right , #d442f5b7 , #410082b7);
    position: absolute;
    top: 0%;
}
.container .top-left{
    display: grid;
    grid-template-areas: "a a";
}
.left-nav{
    display: grid;
    height: 90vh;
    width: 15vw;
    background: rgb(63, 70, 110);
    overflow: hidden;
}
.container .top-nav{
    display: grid;
    grid-template-areas: "a a a";
    background: orangered;
    width: 85vw;
    float: right;
    height: 7vh;
    align-content: center;
    color: rgba(0, 0, 0, 0.76);
    padding-left: 2.9%;
}
.container .top-nav .dynamic-link{
    color: white;
    position: relative;
    right: 85%;
}
.left-nav a{
    max-height: 2em;
    text-decoration: none;
    color: white;
    background: gray;
    
    text-align: center;
    display: grid;
    align-items: center;
}
.bottom-right{
    position: absolute;
    top: 7vh;
    left: 15vw;
    padding: 0;
    margin: 0;
    height: 83vh;
    width: 85vw;
    display: grid;
    align-content: center;
    justify-content: center;
    float: right;
   
}
.bottom-right .middle-content{
    height: 75vh;
    width: 80vw;
    background: rgba(19, 23, 36, 0.699);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-areas: "a a a a";
    position: relative;
    grid-column-gap: 10%;
    grid-row-gap: 4em;
    overflow: hidden;
}
.container .bottom-right .middle-content .boxstyle{
    width: 150px;
    height: 150px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 25px;
    
}
.container .bottom-right .middle-content .boxstyle .content{
    display: grid;
    align-items: center;
    justify-items: center;
}
.container .box-1{
    background: rgb(255, 42, 42);   
}
.container .box-2{
    background: rgb(60, 128, 118);   
}
.container .box-3{
    background: rgb(255, 163, 42);   
}
.container .box-4{
    background: rgb(188, 42, 255);   
}
.container .box-5{
    background: rgb(42, 255, 113);   
}
.container .box-6{
    background: rgb(42, 141, 255);   
}
.container .box-7{
    background: rgb(42, 212, 255);   
}
.container .box-8{
    background: rgb(16, 141, 72);   
}
.container a{
    text-decoration: none;
    width: 150px;
    height: 150px;
}
.container .bottom-player{
    display: grid;
    position: absolute;
    top: 90vh;
    height: 10vh;
    width: 100vw;
    background: rgb(13, 15, 29);
    color: white;
}

